{% extends "base.html" %}

{% block content %}
    <h1>Edit Product</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="product_name">Food Name:</label>
        <input type="text" name="product_name" id="product_name" value="{{product.product_name}}"required /> <br><br>

        <label for="product_price">Price:</label>
        <input type="text" name="product_price" id="product_price" value="{{product.product_price}}" required /> <br><br>

        <label for="product_type">Food Type:</label>
        <input type="text" name="product_type" id="product_type" value="{{product.product_type}}"required /> <br><br>

        <label for="product_stock">Stock:</label>
        <input type="number" name="product_stock" id="product_stock" value="{{product.product_stock}}" required /> <br><br>

        <input type="file" name="file1"> <br><br>

        <button type="submit">Add Item</button><br>
    </form>
{% endblock %}