

{% extends "base.html" %}

{% block content %}
    <h2>Products</h2>
,<span>
    <div class="container">
        {% for item in product %}
            <div class="card">
                <img src="{{ url_for('static', filename='Images/' + item.file_image) }}" width="250" height="250">
                <h3> {{ item.product_name }}</h3>
                 <p class="price">£{{ item.product_price }}</p>
                <p>{{ item.product_stock}} remaining</p>
                <p><button onclick="ShowProduct('{{ item.product_name }}')">View Product</button></p>
            </div>
        {% endfor %}
    </div>
</span>
<script>
function ShowProduct(ProductName) {
    const url = "{{ url_for('main.productView') }}?type=" + encodeURIComponent(ProductName);
    window.open(url, "popup", "width=400,height=550, left=400,top=400");
}

window.close()
window.opener.location.reload();
</script>

{% endblock %}

</body>
</html>