{% extends "base.html" %}

{% block content %}
 <h1>Update User Information</h1>
    <form method="post">
        <p>
            <p> Your producer name is: <b>{{current_user.fname}} {{current_user.lname}}</b></p>


        </p>
        <p>
            <label for="bio">Producer Bio:</label>
            <textarea maxlength="500" id="bio" name="bio" placeholder="Enter your bio">{{current_user.producer_bio}}</textarea>

        </p>
        <p>
            <input type="submit" value="Update User info" name="Submit" />

        </p>
    </form>


{% endblock %}